<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/iconpabg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pubg"
        tools:targetApi="31">
        <activity
            android:name=".Pubg"
            android:exported="false" />
        <activity
            android:name=".Transport"
            android:exported="false" />
        <activity
            android:name=".Rashodniki"
            android:exported="false" />
        <activity
            android:name=".Iashiki"
            android:exported="false" />
        <activity
            android:name=".Predmeti"
            android:exported="false" />
        <activity
            android:name=".Gelet3"
            android:exported="false" />
        <activity
            android:name=".Gelet2"
            android:exported="false" />
        <activity
            android:name=".Gelet1"
            android:exported="false" />
        <activity
            android:name=".Shlem3"
            android:exported="false" />
        <activity
            android:name=".Shlem2"
            android:exported="false" />
        <activity
            android:name=".Shlem1"
            android:exported="false" />
        <activity
            android:name=".Snaregen"
            android:exported="false" />
        <activity
            android:name=".Programm"
            android:exported="false" />
        <activity
            android:name=".gans"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>